.hero {
  padding-top: $m-xl;

  &__content {
    padding-bottom: $m-xxl;
  }

  &__image {
    display: flex;
    align-items: flex-end;
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    &__content {
      padding-left: $m-xl;
    }
  }
}

@include media-breakpoint-up(xl) {
  .hero {
    &__content {
      padding-left: $m-xxxl;
    }
  }
}
