.nav-bar-container {
  position: relative;
  display: flex;
  margin: $m-xl 0;
  justify-content: space-between;
}

.nav-links {
  align-items: center;

  .nav-links__item {
    padding-right: $m-xl;
  }
}

.nav-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: $h3-font-size;
  font-family: 'Microgramma';
  z-index: -1;
  line-height: .9;
}

