.tiles-section {
  padding-top: $m-xxl;

  .item__link {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    text-decoration: none;
  }

  .item__arrow {
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: $m-base;
  }
}

@include media-breakpoint-up(lg) {
  .tiles-section {
    &__item {
      max-width: 420px;
    }
  }
}
