<nav class="nav-bar-container">
  <ul class="nav nav-links font-weight-light text-white">
    <li class="nav-links__item"><a href="#">Home</a></li>
    <li class="nav-links__item"><a href="#">Services</a></li>
    <li class="nav-links__item"><a href="#">Fleets</a></li>
    <li class="nav-links__item"><a href="#">News</a></li>
  </ul>

  <div class="nav-logo">
    polestar
  </div>

  <div class="nav-button">
    <button type="button" class="btn btn-primary">
      Owner Hub
    </button>
  </div>
</nav>
