<section class="tiles-section">
  <div class="row justify-content-between">
    <Tiles::Tile
      @text="Polestar in Nairobi is getting its own flagship store"
      @imageUrl="/assets/images/tile-1.png"
      @imageAlt="Nairobi"
    />
    <Tiles::Tile
      @text="Futuristic interior for present times. Is it?"
      @imageUrl="/assets/images/tile-2.png"
      @imageAlt="Car interior"
    />
    <Tiles::Tile
      @text="MeetEricka : VP of Interface Design - polestar Europe"
      @imageUrl="/assets/images/tile-3.png"
      @imageAlt="Ericka"
    />
  </div>
</section>
