<div class="tiles-section__item col-12 col-md-6 col-lg-4 mb-5">
  <img src={{@imageUrl}} alt={{@imageAlt}} >
  <a href="#" class="item__link mt-2 text-lg">
    <div>{{@text}}</div>
    <div class="item__arrow">&#8599;</div>
  </a>
</div>
