<section class="main-section">
  <div class="row">
    <div class="main-section__content col-12 col-lg-5">
      <h1 class="text-capitalize">
        Built for your driving quality
      </h1>
      <p class="mb-5">
        One of the mosto complete electric car that money can buy. A perfect combination between art and technology. This is Polestar 2.
      </p>
      <button type="button" class="btn btn-primary">Get Polestart 2 &#8594;</button>
    </div>

    <div class="main-section__image col-12 col-lg-7">
      <img src="/assets/images/tesla.png" alt="electric-car" class="mirror-image">
    </div>
  </div>
</section>
